<div class="container mt-5">
  <h1>Add a New Review for <%= @restaurant.name %></h1>

  <%= render 'form', review: @review %>

  <%= link_to 'Back to Restaurant', restaurant_path(@restaurant),
      class: "btn btn-link" %>
</div>


